* {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-media-height : 272px;
    --card-media-width : 218px;
}

html {
    background-color: rgba(180, 93, 0, 1);
    color: white;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

nav {
    padding: 0px 10px;
    overflow-y: hidden;
    height: 110px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    transition: .5s;
}

nav.rolagem {
    background-color: #18181B;
    height: 90px;
}

nav.rolagem ul {
    display: none;
}

#logo {
    max-width: 50%;
    height: auto;
    display: flex;
    align-items: center;

}

#logo a img {
    width: 100%;
    height: auto;
}

#mobile-menu-button {
    all: unset;
    font-size: XX-large;
    padding-bottom: 6px;
}

#mobile-menu {
    overflow: hidden;
    background: linear-gradient(180deg, rgba(180, 93, 0, 1) 0%, rgb(90, 48, 5) 35%, rgb(44, 27, 14) 59%, rgba(0, 0, 0, 1) 100%);
    width: 60%;
    height: 100svh;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: flex;
    transition: transform .5s ease, opacity .5s ease, background .5s ease-out;
}

.mobile-menu-open {
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu-closed {
    transform: translateX(-100%);
    opacity: 0;
}

#mobile-menu.menu-backgroundcolor {
    background: #18181B;
}

#mobile-menu ul {
    display: flex;
    align-items: center;
    height: 50%;
    text-transform: uppercase;
    flex-wrap: wrap;
    text-align: center;
}

nav ul {
    padding-right: 3px;
    display: flex;
    gap: 3px;
    text-transform: uppercase;
    flex-wrap: wrap;
    text-align: right;
    display: none;
}

nav ul li,
#mobile-menu ul li {
    list-style: none;
    width: 100%;
    transition: all 0.5s ease-in-out;
    flex-wrap: wrap;
}

nav ul li a,
.mobile-menu-a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.5rem;
    text-wrap: nowrap;
}

.mobile-menu-a {
    font-size: larger;
}

main {
    top: 100px;
    position: absolute;
    padding-top: 50px;
    width: 100%;
    background: rgba(180, 93, 0, 1);
}

.introducao {
    width: 100%;
    height: 80svh;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(180, 93, 0, 1) 0%, rgb(90, 48, 5) 35%, rgb(44, 27, 14) 59%, rgba(0, 0, 0, 1) 100%);
    flex-wrap: wrap;
}

.introducao h1 {
    font-family: "Codystar", sans-serif;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 3rem;
    text-align: center;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff;
}

.introducao-img {
    width: 100%;
    height: auto;
    flex: 1;
}

.introducao-img img {
    max-width: 100%;
    max-height: 100%;
}

.definicao,
.origem,
.brasil,
.referencias {
    width: 100%;
    display: flex;
    gap: 100px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.definicao {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(18, 4, 14, 1) 24%, rgba(89, 29, 72, 1) 74%, rgba(84, 27, 67, 1) 100%);
    padding-top: 125px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.origem {
    background: linear-gradient(180deg, rgba(84, 27, 67, 1) 0%, rgba(89, 29, 72, 1) 24%, rgba(18, 4, 14, 1) 74%, rgba(0, 0, 0, 1) 100%);
    padding-bottom: 100px;
    padding-top: 50px;
    flex-wrap: wrap-reverse;
}


.origem h1,
.definicao h1,
.brasil .titulo h1,
.referencias h1 {
    margin: auto;
    font-size: 3rem;
    text-align: center;
}

.definicao h1 {
    font-size: 3rem;
    visibility: hidden;
}

.definicao h1.visivel {
    visibility: visible;
    animation: fadeInUp .75s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.origem p,
.definicao p,
.brasil p {
    width: 80%;
    text-wrap: wrap;
    text-align: justify;
}

#video-origem {
    background-color: black;
    padding: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

#video-origem img {
    width: 90%;
    height: 90%;
}

.brasil {
    padding-top: 125px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(29, 57, 24, 1) 49%, rgba(90, 157, 78, 1) 73%, rgba(136, 235, 118, 1) 100%);
}

.brasil .titulo {
    display: block;
    text-align: center;
}

.brasil .titulo span {
    font-style: italic;
    font-size: 0.9rem;
    margin: auto;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    width: 200px;
    height: 440px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    padding: 20px;
    transition: .5s;
    top: 0;
}

.slider-item h1 {
    text-align: left;
    padding-bottom: 20px;
}

#next,
#previous {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 40px;
}

#next {
    left: unset;
    right: 40px;
}

.referencias {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgba(136, 235, 118, 1) 0%, rgba(90, 157, 78, 1) 49%, rgba(29, 57, 24, 1) 73%, rgba(0, 0, 0, 1) 100%);
}

.ref-slider-track {
    width: fit-content;
}

.ref-slider {
    position: relative;
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: fit-content;
    gap: 24px;
}

.ref-slider-item {
    position: relative;
    width: var(--card-media-width);
    transition: normal 0.6s ease-out all;
    height: var(--card-media-height);
    border-radius: 26px;
    border: 1px whitesmoke solid;
    overflow: hidden;
    background-color: gray;
}

.ref-slider-item-info {
    background: linear-gradient(rgba(0, 0, 0, 0) 51.91%, rgba(0, 0, 0, 0.3) 75.88%);
    display: grid;
    position: absolute;
    z-index: 2;
    top: 0;
    font-size: 13px;
    right: 0;
    left: 0;
    bottom: 0;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    align-content: flex-end;
    padding: 12px 16px;
    gap: 8px;
}


.ref-slider-item-media {
    display: flex;
    position: relative;
    z-index: 1;
    width: var(--card-media-height);
    height: var(--card-media-height);
}

.ref-slider-item-media img {
    width: var(--card-media-width);
    height: var(--card-media-height);
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
}

footer {
    position: absolute;
    bottom: 0;
    background: black;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes move {
    to {
        transform: translate(calc(-50% - 1.5em));
    }
}